.page__form {
    font-family: map-get($page__form, 'form-font-family');
    font-weight: 300;
    font-size: 14px;

    &-element {
        height: 45px;
        width: 100%;
        border: 1px solid;
        background: none;
    }  
}

.error {
    color: red;
}   