.page {
    color: map-get($base, 'base-text-color');
    background: map-get($base, 'base-background-color');
    font: #{map-get($base, 'base-font-size')}/#{map-get($base, 'base-line-height')} #{map-get($base, 'base-font-family')};
    min-width: map-get($base, base-min-width);

    &__section {
        padding: 68px 0;

        @include media('<tablet') {
            padding: 40px 0;
        }
    }

    &__inner {
        margin: 0 auto;
        max-width: 975px;
        padding: 0 15px;
    }

    &__heading {
        font-size: 22px;
        line-height: inherit;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-family: unquote("'Playfair Display', serif");
        text-transform: uppercase;

        @include media('<tablet') {
            font-size: 18px;
        }
    }

    &__subtitle {
        position: relative;
        margin-bottom: 69px;
        font-family: unquote("'Playfair Display', serif");
        font-size: 14px;
        letter-spacing: 0.075em;

        @include media('<tablet') {
            margin-bottom: 50px;
        }

        &_lined {
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 50px;
                bottom: -19px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    &__heading_small {
        font-weight: 900;
        font-family: unquote("'Roboto', sans-serif");
        text-transform: uppercase;
    }

    &__button {
        font-family: 'Hammersmith One', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        background: none;
        color: #00e0d0;
        border: 1px solid #00e0d0;

        &:hover,
        &:focus {
            background: rgba(#00e0d0, 0.1);
        }
    }

    &__form {
        font-weight: 300;
        font-size: 14px;

        &-element {
            height: 45px;
            width: 100%;
            border: 1px solid;
            background: none;
        }
    }
}

.error {
    color: red;
}