// Typography
//
// Base font styles for headings and links.

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  margin: 0 0 0.5em;
}

p {
  margin: 0 0 1em;
}

.page__link, a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: map-get($base, 'base-link-hover');
  }
}
