.contact__form {
    margin-top: -12px;

    &-element {
        margin: 12px 0;
        padding: 17px 21px;
        color: map-get($contact__form, 'form-font-color');
        border-color: map-get($contact__form, 'form-element-border-color');

        @include placeholder {
            color: map-get($contact__form, 'placeholder-font-color');
        }
    }
}

.contact__message {
    min-height: 180px;
}