.testimonials {
    font-family: map-get($testimonials, 'section-font-family');
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.025em;
    color: map-get($testimonials, 'section-font-color');
    text-align: center;

    &_custom-bg {
        background: 100% 100%/cover no-repeat;
    }

    &__icon {
        display: block;
        font-size: 30px;
        margin-bottom: 32px;

        @include media('<tablet') {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    &__slider {
        max-width: 810px;
        position: relative;
        margin: 0 auto;
        padding: 0 15px;
        overflow: hidden;
    }

    &__gallery-thumbs {
        max-width: 330px;
        max-height: 75px;
        margin: 0 auto;

        @include media('<tablet') {
            width: 80%;
        }
    }

    &__gallery-top {
        width: 100%;

        margin-bottom: 30px;

        .swiper-slide {
            width: 100%;
        }
    }

    &__photo-wrap {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__photo {
        width: 45px;
        height: 45px;

        &-rounded {
            border-radius: 50%;
        }
    }

    &__comment {
        margin-bottom: 48px;
        padding: 0;
        letter-spacing: 0.025em;

        @include media('<tablet') {
            margin-bottom: 30px;
            font-size: 14px;
        }
    }

    &__name {
        font-family: unquote("'Roboto', sans-serif");
        font-size: 14px;
        line-height: 1;
        margin-bottom: 2px;
    }

    &__position {
        display: block;
        font-family: unquote("'Roboto', sans-serif");
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__swiper-button {

        &:hover,
        &:focus {
            outline: none;
        }

        cursor: pointer;
    }

    &__button-next {
        position: absolute;
        bottom: 15px;
        right: 200px;

        @include media('<tablet') {
            right: 15px;
        }
    }

    &__button-prev {
        position: absolute;
        bottom: 15px;
        left: 200px;

        @include media('<tablet') {
            left: 15px;
        }
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;

    &-active {

        .testimonials__photo {
            width: 70px;
            height: 70px;
        }
    }
}