.team {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: map-get($team, 'section-font-color');
    background: 100% 100%/cover no-repeat;

    &__title {
        margin-bottom: 10px;
    }

    &__subtitle_lined {
        &:after {
            border-bottom: 1px solid #655c80;
        }
    }

    &_custom-bg {
        background: 100% 100%/cover no-repeat;
    }

    &__card-holder {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 65px;

        @include media('<tablet') {
            margin-bottom: 30px;
        }
    }

    &__col {
        width: 23.5%;
        display: flex;
        justify-content: center;

        @include media('<tablet') {
            width: 48%;
        }
    }

    &__text {
        margin-bottom: 27px;
    }

    &__button {
        padding: 11px 15px;
    }
}