.expertise {
    text-align: center;
    font-size: 14px;
    color: map-get($expertise, 'section-font-color');
    padding: 53px 0 70px;

    &__subtitle_lined {
        &:after {
            border-bottom: 1px solid #413d4b;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__card-holder {
        display: flex;
        flex-wrap: wrap;
    }
}