.expertise-card {
    width: 33.33333%;
    padding: 30px;
    font-family: map-get($expertise__card, 'card-font-family');
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    color: map-get($expertise__card, 'card-font-color');

    @include media('<desktop') {
        width: 50%;
    }

    @include media('<tablet') {
        width: 100%;
        padding: 15px;
    }

    &__title {
        font-size: 14px;
        letter-spacing: 0.05em;
        margin-bottom: 15px;
    }

    &__img {
        margin-bottom: 20px;
    }

    &_bordered {

        &.expertise-card-1,
        &.expertise-card-3 {
            border-bottom: 1px solid map-get($expertise__card, 'card-border-color');
        }

        &.expertise-card-2 {
            border-right: 1px solid map-get($expertise__card, 'card-border-color');
            border-left: 1px solid map-get($expertise__card, 'card-border-color');
            border-bottom: 1px solid map-get($expertise__card, 'card-border-color');

            @include media('<desktop') {
                border-right: none;
            }

            @include media('<tablet') {
                border-left: none;
            }
        }

        &.expertise-card-4 {
            @include media('<desktop') {
                border-bottom: 1px solid map-get($expertise__card, 'card-border-color');
                border-left: 1px solid map-get($expertise__card, 'card-border-color');
            }

            @include media('<tablet') {
                border-left: none;
            }
        }

        &.expertise-card-5 {
            border-right: 1px solid map-get($expertise__card, 'card-border-color');
            border-left: 1px solid map-get($expertise__card, 'card-border-color');

            @include media('<desktop') {
                border-left: none;
            }

            @include media('<tablet') {
                border-right: none;
                border-bottom: 1px solid map-get($expertise__card, 'card-border-color');
            }
        }
    }
}