@font-face {
    font-family: 'icomoon';
    src: url('../../assets/fonts/icomoon.woff?rizcsl') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone-outline:before {
    content: "\e903";
  }
  .icon-keyboard_arrow_right:before {
    content: "\e906";
  }
  .icon-keyboard_arrow_left:before {
    content: "\e907";
  }
  .icon-paperplane:before {
    content: "\e904";
  }
  .icon-send:before {
    content: "\e904";
  }
  .icon-flight:before {
    content: "\e904";
  }
  .icon-email:before {
    content: "\e904";
  }
  .icon-location:before {
    content: "\e902";
  }
  .icon-map:before {
    content: "\e902";
  }
  .icon-stop-circle:before {
    content: "\e900";
  }
  .icon-play-circle:before {
    content: "\e909";
  }
  .icon-instagram:before {
    content: "\e901";
  }
  .icon-google:before {
    content: "\e905";
  }
  .icon-quotes-left:before {
    content: "\e977";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  .icon-dribbble:before {
    content: "\eaa7";
  }
  